<div class="di-table ff2">
  <table border="0" >
    <thead class="fc4">
      <tr>
        <th class="w1">序号</th>
        <th class="w1">车型</th>
        <th  class="w2">上车时间</th>
        <th  class="w3">城 市</th>
        <th  class="w4">起点</th>
        <th  class="w4">终点</th>
        <th class="w5 dline">
          <div>
            里程 <br />
            <span> </span> <br />
            [公里]
          </div>
        </th>
        <th  class="w5" class="dline">
          <div>
            金额 <br />
            <span> </span> <br />
            [元]
          </div>
        </th>
        <th  class="w6">备注</th>
      </tr>
    </thead>
    <tbody class="fc5">
    <% data.map((item, index) => { %> 
    <tr>
      <td><%= index + start %></td>
      <td><%= item.car %></td>
      <td><%= item.time %></td>
      <td><%= item.city %></td>
      <td><%= item.start %></td>
      <td><%= item.end %></td>
      <td><%= item.duration %></td>
      <td><%= item.money %></td>
      <td></td>
    </tr>
    <%})%>
    </tbody>
  </table>
</div>